<header class="header header-bg" role="img"  aria-label="天井から見下ろした広々としたカフェ。暗色の長方形のテーブルとモダンな椅子が磨かれた木製の床に配置されており、天井には吊るされたライトがアクセントとなっています。">
    <!-- nav -->
     <nav class="nav">
       <ul class="nav-list">
           <% navData.forEach((item)=>{ %>
             <li class="nav-item"><a class="nav-link" href="<%= item.link %>"><%= item.title %></a></li>
         <%  }) %>
       </ul>
    </nav>
   <!-- logo -->
   <h1 class="header-logo">
     <a href="#">
       <img width="460" height="100" src="../img/logo.svg" alt="COFFEEのサイトロゴ">
     </a>
   </h1>
   </header>